* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #D2D0A0;
    color: #666;
}

header {
    background-color:#537D5D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;    
    padding-top: 0;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    padding: 10px 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-top : 5px;
}

.header-logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap:70px;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color: #EFE4D2;
    font-size: 18px;
}

nav a:hover {
    color: #D2D0A0;
}

.heading-with-line {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    padding: 30px 0;
}

.heading-with-line::before,
.heading-with-line::after {
    content: "";
    flex: 1;
    border-top: 1px solid #020202;
    margin: 0 15px;
}

.heading-with-line span {
    font-weight: bold;
    color: black;
}

.gallery-section {
    padding: 50px 10%;
}

.gallery-container1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center; /* Menjaga gambar tetap di tengah */
    margin-bottom: 50px; 
}

.gallery-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    justify-items: center; /* Menjaga gambar tetap di tengah */
}

.gallery-item img {
    width: 100%; /* Agar gambar mengisi kolom */
    height: 350px;
    border-radius: 8px; /* Menambahkan sudut melengkung pada gambar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan lembut di sekitar gambar */
    transition: transform 0.3s ease; /* Menambahkan transisi saat hover */
}

.gallery-item img:hover {
    transform: scale(1.05); /* Efek zoom saat hover */
}

footer {
    background-color: #537D5D;
    color: #EFE4D2;
    text-align: center;
    padding: 20px 0;
}